@import url('//fonts.googleapis.com/css?family=Nanum+Gothic:400,700&subset=korean');

/* layout */

#visual {position:relative; overflow:hidden; width:100%; height:250px;}
#visual img {position:absolute; top:0; left:-960px; right:-960px; margin:0 auto;} 

#content .box {width:600px; margin:30px auto;}
#content .box .h {height: 50px; background: #18D; font-weight: 600; font-size: 18px; color: #FFF; line-height: 50px;}
#content .info {padding: 40px 0; border: 1px solid #CCC; border-top: 0;}

.info .id, .pwd {height: 60px; margin: 0 35% 0 15%;}
.info input {width: 100%; height: 50px;} 

.info .ok {float: right; width: 18%; height: 130px; margin: -115px 15% 0 0;}
.info .ok input{float: left; width: 100%; height: 110px; margin: 0; padding: 0; border: 0; border-radius: 0;  background: #18D; color:white; font-weight: 600; line-height: 90px; text-align: center; cursor: pointer; -webkit-appearance: none;}
