@import url('//fonts.googleapis.com/css?family=Nanum+Gothic:400,700&subset=korean');

/* common */
body, th, td, input, textarea, button, select {font-family:'나눔고딕','Nanum Gothic','맑은 고딕','Malgun Gothic'; font-size:15px;}
body, form, p, h1, h2, h3, h4, h5, h6 {margin:0; padding:0;}
body, th, td, h1, h2, h3, h4, h5, h6 {line-height:1.8;}
textarea {line-height:1.5;}
hr {display:none;}
a {color:#333; text-decoration:none;}
a:hover {color:#369; text-decoration:underline;}
input, textarea, button, select {box-sizing:border-box; margin:0.25em 0; vertical-align:middle;}
input[type=text] { border:0px; font-size:13px;}
input[type=submit] { border:0px; font-size:13px;}
input[type=button] { border:0px; font-size:13px; background-color:white;}
input[type="radio"],
input[type="checkbox"] {margin-left:0.25em; margin-right:0.25em;}
input[type="image"] {border-radius:0;}
img {border:0; vertical-align:middle;}
table {border-spacing:0;}

.blind {position:absolute; overflow:hidden; width:1px; height:1px;}
.hidden {display:none;}
.b, b, strong, h1, h2, h3, h4, h5, h6 {font-weight:600;} /* 400, 600, 700 */
.i {font-style:italic;}

/* layout */
html, body {height:100%;}

#wrap {float:left; position:relative; overflow:hidden; width:100%; min-width:1200px; min-height:100%; text-align:center;}

#header {position:relative; width:1200px; max-width:100%; height:50px; margin:0 auto; z-index:400;}
#header h1 img {float:left;}
#header .skip {position:absolute; top:-999px; left:-999px; overflow:hidden; width:1px; height:1px; z-index:490;}
#header .skip:active, #header .skip:focus {top:10px; left:10px; width:auto; height:auto; padding:0.8em 1.2em; border:1px solid #999; background:#FFA;}

#visual {position:relative; overflow:hidden; width:100%; height:230px;}
#visual img {position:absolute; top:0; left:-960px; right:-960px; margin:0 auto;}

#snb {float:right; top:-10px; height:30px; padding:0; list-style:none;}
#snb li {float:left; height:14px; margin:8px 0; padding:0; border-left:1px solid #999;}
#snb li:first-child {border:0;}
#snb a {float:left; height:30px; margin:-8px 0; padding:0 10px;}

#gnb {position:absolute; top:0; left:300px; width:600px; height:50px; margin:0; padding:0; list-style:none;}
#gnb li {float:left; width:150px; height:50px; margin:0; padding:0;}
#gnb li ul {
   background: white;
   display: none; /* ���ÿ��� ����޴��� �Ⱥ��̰� �ϱ� */
   width: 25%;
   height: auto;
   padding: 0px;
   margin: 0px;
   border: 0px;
   position: absolute;
   top:50px;
   z-index: 200;
   font-size:13px;
}
#gnb li ul li{float:center; width:150px; height:23px; margin:0; padding:0; }

#gnb li:hover ul {
   display: block; /* ���콺 Ŀ�� �ø��� ����޴� ���̰� �ϱ� */
}
#gnb a {float:left; width:150px; height:50px; font-weight:600; font-size:15px; line-height:50px; text-align:center;}

#content {padding-bottom:12em; text-align:justify; z-index:200;}

.latest {width:1200px; height:auto; margin:0 auto; font-size:13px; text-align:justify;}
.notice {float:left; position:relative; width:200px; height:auto; border-bottom:3px solid #797979; border-top:2px solid #797979;}
.notice h4 {height:30px; line-height:30px; text-align: center; border-bottom:0.5px solid #797979;}
.notice .icon{float:left; width:70px; height:90px; margin-top:5px; margin-bottom:5px;}
.notice ul {margin:5px 5px; padding:0; list-style:none; border-bottom:0.5px solid #797979;}
.notice li {position:relative; /* overflow:hidden; */ height:35px; margin:0; padding:0 90px 0 0; line-height:35px; text-overflow:ellipsis; white-space:nowrap; font-size:12px;}
.notice li a {float:left; overflow:hidden; max-width:100%; text-overflow:ellipsis;}
/* .notice .date {position:absolute; top:0; right:0; color:#888; font-style:normal;}
.notice .more {position:absolute; top:40px; right:0;}
.notice .more:after {margin-left:10px; content:'\002B';}
.notice .more:hover {color:#333; text-decoration:none;} */

.main {float:left; position:relative; width:980px; height:850px; margin-left:20px;}

.latest input[type="button"] {cursor: pointer;}

#footer {position:absolute; left:0; bottom:0; width:100%; height:2.5em; background:#666; color:#FFF; z-index:300;}
#footer address {padding:0.5em 0 0; font-style:normal; text-align:center;}

/* myClub_Board */
.btn {float: right; position: relative; top:20px; right:40px; display: inline-block; background: #4c4c4d; border: none; border-radius: 5px; color: #fff; font-size: 13px; padding: 0 15px; 
height: 54px; line-height: 54px; text-align: center; font-weight: 600; cursor: pointer; margin-left: -72px;}
.btn, .btn:HOVER {text-decoration: none; color: #fff;}

/* club_calendar */
.cal-btn {background: #3b5998; width:80px; height:30px; color:white; border:none; border-radius: 5px; cursor: pointer;
position: absolute; right: 50px; top: -5px;}

/* manage, manage_list */
.manage-btn {background: #3b5998; width:60px; height:35px; color:white; border:none; border-radius: 5px; cursor: pointer; font-size:13px;}

/* mywrite, myupdate */
#lay-btn {text-align: right; margin-right:100px; margin-top: 10px;} 
.input-btn {display: inline-block; background: #4c4c4d; border: none; border-radius: 5px; color: #fff; font-size: 13px; padding: 0 15px; 
height: 54px; line-height: 54px; text-align: center; font-weight: 600; cursor: pointer; margin-left: 5px;}
.input-btn, .input-btn:HOVER {text-decoration: none; color: #fff;}

/* manage_list */
.category {background: #F3F3F3; position: relative; overflow: hidden; width: 900px; max-width: 100%; margin: 0 auto; margin-top: -100px;}
.category ul {list-style: none;}
.category ul li {display: inline;}
.category select {border: 1px solid #dddddd; height: 30px; background: #fff; margin-right: 20px;}
.category input[type="text"] {height: 30px; border: 1px solid #dddddd; width: 300px; padding-left: 10px; padding-right: 50px;}
.category button{cursor: pointer;}
.category .category-btn { position: relative; right: 53px; text-indent: -999em;	width: 50px; height: 30px; background: url(../image/btn.gif) no-repeat 50% 50%; border: 0;}



