@import url('//fonts.googleapis.com/css?family=Nanum+Gothic:400,700&subset=korean');

/* common */
body, th, td, input, textarea, button, select {font-family:'나눔고딕','Nanum Gothic','맑은 고딕','Malgun Gothic'; font-size:15px;}
body, form, p, h1, h2, h3, h4, h5, h6 {margin:0; padding:0;}
body, th, td, h1, h2, h3, h4, h5, h6 {line-height:1.8;}
textarea {line-height:1.5;}
hr {display:none;}
a {color:#333; text-decoration:none;}
a:hover {color:#369; text-decoration:underline;}
input, textarea, button, select {box-sizing:border-box; margin:0.25em 0; vertical-align:middle;}
input[type="radio"],
input[type="checkbox"] {margin-left:0.25em; margin-right:0.25em;}
input[type="image"] {border-radius:0;}
img {border:0; vertical-align:middle;}
table {border-spacing:0;}

.blind {position:absolute; overflow:hidden; width:1px; height:1px;}
.hidden {display:none;}
.b, b, strong, h1, h2, h3, h4, h5, h6 {font-weight:600;} /* 400, 600, 700 */
.i {font-style:italic;}

/* layout */
html, body {height:100%;}

#wrap {float:left; position:relative; overflow:hidden; width:100%; min-width:1200px; min-height:100%; text-align:center;}

#header {position:relative; overflow:hidden; width:1200px; max-width:100%; height:100px; margin:0 auto; z-index:400;}
#header h1 {position:absolute; top:25px; left:0;}
#header h1 img {float:left;}
#header .skip {position:absolute; top:-999px; left:-999px; overflow:hidden; width:1px; height:1px; z-index:490;}
#header .skip:active, #header .skip:focus {top:10px; left:10px; width:auto; height:auto; padding:0.8em 1.2em; border:1px solid #999; background:#FFA;}

#snb {float:right; height:30px; margin:35px 0; padding:0; list-style:none;}
#snb li {float:left; height:14px; margin:8px 0; padding:0; border-left:1px solid #999;}
#snb li:first-child {border:0;}
#snb a {float:left; height:30px; margin:-8px 0; padding:0 10px;}
#snb .txt {float:left; height:30px; margin:-8px 0; padding:0 10px;}

#gnb {position:absolute; top:0; left:300px; width:600px; height:100px; margin:0; padding:0; list-style:none;}
#gnb li {float:left; width:150px; height:100px; margin:0; padding:0;}
#gnb a {float:left; width:150px; height:100px; font-weight:600; font-size:18px; line-height:100px; text-align:center;}

.latest {width:1200px; margin:0 auto;}
