@import url('//fonts.googleapis.com/css?family=Nanum+Gothic:400,700&subset=korean');

#footer {position:absolute; left:0; bottom:0; width:100%; height:8em; background:#666; color:#FFF; z-index:300;}
#footer address {padding:3em 0 0; font-style:normal;}
