@import url('//fonts.googleapis.com/css?family=Nanum+Gothic:400,700&subset=korean');

/* layout */
#map {position: relative; overflow: hidden; width: 1200px; max-width: 100%; height: 350px; margin: 0 auto; z-index: 400;}

#info {position: relative; overflow: hidden; width: 1200px; max-width: 100%; height: 350px; margin: 0 auto; z-index: 400; margin-top:30px;}

.restaurant{ width:1200px; /* border-top: 3px solid #168; */}
.restaurant td, th{ border:1px solid #dddddd; text-align: center;}
.restaurant th{color: #168; background: #f0f6f9;}
